.top,.bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.left,.right{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
    padding: 20%;
}

